# steps before 
# 1. create--> iam --> user --> security-credentials --> access-keys
# 2. aws configure
      # the above info will be in --> /home/ec2-user/.aws/  
      # if we give "become: yes" in playbook , its not going to work because credentials are stored in above directory.
      # we dont have to give "become:yes" because we have already given that to user created in iam.

- name: Create 3 ec2-instances with records.
  hosts: local
  vars:
    subnet_id: subnet-0dc9d1318a2d9932e
    instance_type: t3.micro
    image_id: ami-09c813fb71547fc4f
    zone: "chandev.site"
    security_group: sg-0d6cb8dd0189f7db9
    names:
      - mysql
      - backend
      - frontend
  tasks:
    - name: Installing python libraries
      ansible.builtin.pip:
        name: "{{ item }}"
        executable: pip3.9
      loop:
        - botocore
        - boto3

    - name: Create instances
      amazon.aws.ec2_instance:
        name: "{{ item }}"
        vpc_subnet_id: "{{ subnet_id }}"
        instance_type: "{{ instance_type }}"
        image_id: "{{ image_id }}"
        wait: true
        security_group: "{{ security_group }}"
      loop: "{{ names }}"
      register: ec2_output

    # - name: Print o/p
    #   ansible.builtin.debug:
    #     # msg: "{{ ec2_output }}"
    #     msg: "{{ item.instances[0].private_ip_address }}"
    #   loop: "{{ ec2_output.results }}"

    # - name: Add DNS records to Route 53
    #   amazon.aws.route53:
    #     zone: "{{ zone }}"
    #     record: "{{item.item}}.{{zone}}"
    #     type: A
    #     ttl: 1
    #     value: "{{ item.instances[0].private_ip_address }}"
    #     state: present
    #     overwrite: true
    #   loop: "{{ ec2_output.results }}"

    # - name: Add DNS records to Route 53
    #   amazon.aws.route53:
    #     zone: "{{ zone }}"
    #     record: "{{zone}}"
    #     type: A
    #     ttl: 1
    #     value: "{{ item.instances[0].public_ip_address }}"
    #     state: present
    #     overwrite: true
    #   loop: "{{ ec2_output.results }}"
    #   when: item.item == "frontend"


# better way to write above two tasks as one using ternary operator.
    - name: Add DNS records to Route 53
      amazon.aws.route53:
        zone: "{{ zone }}"
        record: "{{(item.item == 'frontend' | ternary(zone,item.item + '.' + zone)}}"
        type: A
        ttl: 1
        value: "{{ (item.item == 'frontend') | ternary(item.instances[0].public_ip_address , item.instances[0].private_ip_address) }}"
        state: present
        overwrite: true
      loop: "{{ ec2_output.results }}"

# item.item + '.' + zone --> better way--> item.item ~ '.' ~ zone
        # ~ --> converts any type into string while concatenation
        # "chan" + 1 --> give errors --> "chan" + (1 | string) manually datatype conversion -->chan1
        # "chan" ~ 1 --> doesnt give any errors --> chan1



