# Installing , starting and enabling nginx

- name: Installing Nginx
  hosts : web
  become : yes  #this is basically giving root access -b-->(in adhoc) sudo-->(in shell)
  tasks :
    - name: Installing
      ansible.builtin.package:
        name: nginx
        state: present
    - name: Starting and enabling
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: yes

# adhoc commands(without writing any playbook)--> for simple,emergency tasks.

# ansible all -i inventory.ini -e ansible_user=ec2-user -e ansible_password=DevOps321 -b -m dnf -a "name=nginx state=installed"  

# ansible all -i inventory.ini -e ansible_user=ec2-user -e ansible_password=DevOps321 -b -m service -a "name=nginx state=started"  
